version: '3.8'
services:
  mysql_db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD: root_password
      - MYSQL_DATABASE: test_db
      - MYSQL_USER: user_test
      - MYSQL_PASSWORD: password_test
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: